{% extends "layouts/main.twig" %}

{% block content %}
    <div class="auth">

        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane login active forgot-password" id="signIn">

                <form name="loginForm" id="loginForm" class="login-form" action="/auth/login" method="post" autocomplete="off" novalidate="novalidate" _lpchecked="1">

                    {#<input type="hidden" name="_csrf" value="MVN5Zm0wQ2NXNxYrPAEnL3YpCi4hVwE5RxErXxhkHAJ.MBssP2oHIQ==">#}
										<div class="login__form-title">Forgot Password</div>
										<p class="form__error">No account found under that email address.</p>
                    <input type="text" class="form-control" name="email" value="" placeholder="Email Address" autocomplete="off">

                    <div class="button-set">
                        <label class="button-set__left"></label>
                        <div class="button-set__left">
														<a href="/auth" class="button-set__forgot"><span class="green">Login/Signup?</span></a>
                            <button type="submit" class="button-set__submit" name="submitLoginForm">Submit</button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
{% endblock %}
