{% block content %}
    {% for article in articles %}
        <div class="col-quarter">
            {% include '_elements/card.twig' with {article: article} %}
        </div>
    {% endfor %}
{% endblock %}