{% extends '_helpers/cog-variables.twig' %}
{% block content  %}
<div class="deloitte-banner">
    <div class="deloitte-banner__overlay">
        <div class="deloitte-banner__container">
            <div class="deloitte-banner__left">
                <div class="deloitte-banner__small-text">The Resolution is proudly sponsored by:</div>
                <img src="{{networkData.templatePath}}/static/images/deloit-logo.svg" alt="">
                <div class="deloitte-banner__slogan">The Resolution is proudly sponsored by:</div>

            </div>
            <div class="deloitte-banner__right">
                <span>Nullam id dolor id nibh ultricies vehicula ut id elit. Sed posuere consectetur est at lobortis. Sed posuere consectetur est at lobortis.</span>
            </div>
        </div>
    </div>
</div>
{% endblock %}
