{% if not  _User.isGuest() %}
    {% set user = _User.getUser() %}
    <div id="header__menu" class="user-dropdown">
        <div class="user-dropdown__container">
            <div class="user-dropdown__menu">
                <div class="user-dropdown__menu-profile">
                    <div class="user-dropdown__menu-image" style="background-image:url('https://unsplash.it/80');background-position: 50% 50%;"></div>
                    <div class="user-dropdown__menu-content">
                        <div class="user-dropdown__menu-name">Amos Whitewolf</div>
                        <div class="user-dropdown__menu-email">amoswhitewolf@gmail.com</div>
                    </div>
                </div>
                <ul class="user-dropdown__menu-navigation">
                    <li><a href="#" class="user-dropdown__menu-navigation-link">My News</a></li>
                    <li><a class="user-dropdown__menu-navigation-link" href="#/profile/#">Profile</a></li>
                    <li><a class="user-dropdown__menu-navigation-link" href="http://#/user/edit-profile">Settings</a></li>
                    <li><a class="user-dropdown__menu-navigation-link sign-out" href="#">Sign Out</a></li>
                </ul>
            </div>
        </div>
    </div>
{% endif %}