.article, .static-page {
  &.video-play {
    bottom: 0;
  }
  &__body {
    background-color: white;
    margin-bottom: 30px;
    @include desktop-sm {
      padding-left: 15px!important;
      padding-right: 15px!important;
    }
    + div {
      top: 0;
      position: relative;
      z-index: 2;
    }
  }
  bottom: 0px;
  padding: 0 20px;
  margin: auto;
  width: 100%;
  background-color: $white;
  position: relative;
  @include transition(all 0.4s ease);
  @include desktop-sm {
    padding: 0 30px;
    bottom: 112px;
  }
  &::before {
    display: none;
  }
  &::after {
    display: none;
  }
  img {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 60px;

  }
  h1 {
    @include text-lg($font-weight: 700, $color: $heading-text);
    margin-bottom: 23px;
  }
  h2 {
    @include text-lg($font-weight: 700, $color: $heading-text);
    margin-bottom: 23px;
  }
  p {
    @include text-md($line-height: 1.7, $color: $article-body-text, $font-multiplier: 1.125);
    margin-bottom: 23px;
  }
  p + ol, p + ul {
    //margin-top: -20px;
  }
  ol, ul {
    margin-bottom: 15px;
    margin-left: 15px;
    li {
      @include text-md($font-multiplier: 1.125, $color: $article-body-text, $line-height: 1.7);
      list-style-position: inside;
    }
  }
  ul li {
    list-style-type: disc;
  }
  ol li {
    list-style-type: decimal;
  }
  img {
    width: calc(100% + 20px);
    margin-left: -10px;
    margin-right: -10px;
    @include desktop-sm {
      width: 1170px;
      margin-top: 30px;
      margin-bottom: 60px;
      margin-left: -200px;
      margin-right: -200px;
    }
  }
  &__image {
    height:300px;
    width: 100%;
    @include tablet {
      height:380px;
    }
    @include desktop-sm {
      margin-left: auto;
      margin-right: auto;
      width: 1170px;
      height: 470px;
    }
    @include desktop-lg {
      width: 1570px;
      height: 600px;
    }
  }
  &__container {
    max-width: 770px;
    margin: 0 auto 0;
    text-align: left;
		padding-top: 50px;
    @include desktop-lg {
      max-width: 1030px;
    }
    &--full-width {
      margin-left: -20px;
      margin-right: -20px;
      @include tablet {
        margin-left: -30px;
        margin-right: -30px;
      }
      @include desktop-sm {
        margin-left: -50px;
        margin-right: -50px;
      }
    }
  }
  &__channel_wrap {
    text-align: center;
    width: 100%;
    position: relative;
  }
  &__channel {
    margin-bottom: 25px;
    display: inline-block;
    padding-bottom: 12px;
    position: relative;
    @include text-sm($letter-spacing: 0.21px, $font-multiplier: 0.81, $color: $heading-text);
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 50%;
      margin-left: -10px;
      width: 20px;
      height: 4px;
      border-radius: 100px;
      background-color: $heading-text;
    }
  }
  &__author {
    @include text-sm($font-weight: 700);
    margin-bottom: 7px;
  }
  &__header {
    justify-content: space-between;
    margin-bottom: 15px;
    padding:15px 0px;
    @include tablet {
      display: flex;
      padding: 30px 0;
    }
    @include desktop-sm {
      padding: 25px 0px;
    }
    &_actions {
      text-align: center;
      margin-top: 18px;
      display: flex;
      align-items: center;
      @include tablet {
        margin-top: 0;
        text-align: left;
        flex-direction: column;
      }
    }
  }
  &__profile {
    justify-content: flex-start;
    display: flex;
    flex-direction: row;
    align-items: center;
    @include tablet {
      justify-content: flex-start;
      align-items: stretch;
      flex-direction: row;
    }
  }
  &__headline {
    text-align: center;
    margin-bottom: 20px;
  }
  &__date {
    @include text-sm($font-multiplier:0.75, $color: $body-text, $font-weight: 500);
    text-align: center;
    margin-bottom: 35px;
  }
  &__intro, &__intro p {
    @include text-md($font-multiplier:1.5, $line-height: 1.4, $color: #4a4a4a);
    margin-bottom: 60px;
    text-align: center;
  }
  .header_actions__share .share-popup {
    @media (max-width: 767px) {
      left: -204px;
      bottom: 42px;
    }
  }
  &__header_actions {
    .button {
      width: 100%;
      text-align: center;
    }
    .button__comments {
      margin-right: 10px;
      @include tablet {
        margin: 0 0 5px;
      }
    }
  }
  .button-blue {
    margin-left: 5px;
  }
  &__banner {
    &-container {
      padding: 15px 20px;
      background-color: black;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: column;
      text-align: center;
      @include tablet {
        flex-direction: row;
        text-align: left;
      }
    }
    &_heading {
      @include text-md($font-multiplier: 1.625, $color: $nav-text);
    }
    &_sub-heading {
      @include text-sm($color: $nav-text, $letter-spacing: -0.2px);
      opacity: 0.71;
      margin-bottom: 10px;
      @include tablet {
        margin-bottom: 0;
      }
    }
  }
}

.show-comments__wrap {
  text-align: center;
}

.comments-header {
  //margin-bottom:10px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding-top: 50px;
  margin-bottom: 50px !important;
  opacity: 0.4;
  font-weight: 400 !important;
  text-align: center;
}

.additional-articles__header {
  padding-top: 80px;
  margin-bottom: 50px!important;
  @include text-lg($color: $body-text);
}

.show-comments {
  @extend .button;
  @extend .button__comments;
}

.profile__user_image {
  width: 70px;
  height: 70px;
  background-size: cover;
  display: inline-block;
  border-radius: 50%;
  flex: 0 0 70px;
}

.profile__author_wrap {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  align-self: center;
  margin-bottom: 2px;
  margin-left: 15px;
  @include tablet {
    align-items: flex-start;
    align-self: center;
    margin-left: 15px;
  }
}

.profile__author-bio {
  max-width: 401px;
}

.heading {
  font-weight: 300;
  font-size: 39px;
  color: #384362;
  letter-spacing: -1.01px;
  line-height: 45px;
  margin-bottom: 45px;
  width: 100%;
}

.DisqusCommentArea {
  width:100%;
  margin-top:40px;
  display:inline-block;
  border-top:2px solid rgba($hover-color, 0.75);
}

[class*="medium-insert-"], .article-content-section {
  body {
    height: auto;
  }
  .slide__caption {
    bottom:0px;
    width:100%;
    padding:15px 25px;

    > p {
      width:100%;
      margin-bottom:0px!important;
      font-size:($baseFontSize * 1) - 1!important;
    }
  }

  .video {
    .slide__caption {
      display:none;
    }
  }
}

.medium-insert-images {
  margin-bottom: 30px;

  figure {

  }
  figcaption {
    @include text-sm($font-multiplier: 0.78, $color: $dark-color);
    margin-top: 7px;
    opacity: 0.6;
  }
  img {
    margin: 0!important;
    width: 100%!important;
    // TODO: Need to push out image - cannot do because of !importants
    // @include tablet {
    // 		margin-left: -80px!important;
    // 		margin-right: -80px!important;
    // 		width: calc(100% + 160px)!important;
    // }
  }
  &-left, &-right {
    @include desktop-sm {
      max-width: 50%;
      //margin-bottom: 20px;
      margin-top: 31px;
      // img {
      // 	@include tablet {
      // 			width: 100%;
      // 	}
      // }
    }

  }
  &-left {
    @include desktop-sm {
      float: left;
      margin-right: 31px!important;
      margin-left: -80px!important;
    }

    figure {

    }
  }
  &-right {
    @include desktop-sm {
      float: right;
      margin-left: 31px!important;
      margin-right: -81px!important;
    }

  }
}

.medium-insert-vimeo, .medium-insert-youtube, .medium-insert-instagram {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  clear: both;
  iframe, object, embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .medium-insert-vim div {
    max-width: none!important;
  }

}

.medium-insert-instagram {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}


video.cloudVideo {
  width:100%;
}
