.blog {
  &__header {
    position: relative;
    z-index: 2;
    margin-bottom: 262px;
    margin-top: 0;
    @include desktop-sm {
      margin-top: -112px;
      position: relative;
      margin-bottom: 0;
    }
  }
    &__container {
      @extend .container;
      display: flex;
      //padding: 15px;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;
      position: relative;
      height: 100%;
      @include tablet-lg {
        padding: 30px;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
      }
    }

    &__description {
      @include text-md($color: $white, $font-multiplier: 1.5, $font-weight: 400);
      margin-bottom: 20px;
      display: inline-block;
      @include desktop-sm {
        margin-bottom: 0;
      }
    }

    &__title {
      margin: auto 0;
      padding: 30px;
      @include desktop-sm {
        //margin: auto 80px auto 130px;
        max-width: 558px;
        padding: 0;
      }
    }

    &__background {
      background-repeat: no-repeat;
      background-size: cover;
    }

    &__heading {
      @include text-lg($color: $white);
      text-transform: capitalize;
      margin-bottom: 10px;
      @include tablet-lg {
        margin-top: 25px;
        margin-bottom: 25px;
      }
    }

    &__text {
      margin-bottom: 10px;
      @include tablet-lg {
        margin-bottom: 0;
      }
    }

    &__blurb {
      max-height: 90px;
      overflow: hidden;
      max-width: 540px;
      @include text-md($line-height: 1.66, $color: $white);
      @include tablet {
        font-size: 24px;
        line-height: 1.41;
        max-height: 66px;
      }
      @include tablet-lg {
      }
    }

    &__user-header {
      display: flex;
      order: 2;
      background-color: $white;
      padding: 30px;
      border-bottom: 2px solid #000;
      @include tablet-lg {
        border: none;
        display: flex;
        justify-content: space-around;
        align-items: flex-end;
        position: absolute;
        border-radius: 4px;
        top: 224px;
        max-width: 480px;
        min-height: 260px;
        width: calc(100% - 30px);
        padding: 30px 10px;
        text-align: center;
        height: 100%;
        z-index: 1;
        padding: 30px;
        order: 2;
        margin-top: -30px;
        border-radius: 0 0 4px 4px;
        position: static;
        width: 100%;
        align-items: center;
      }
      @include desktop-sm {
        width: 100%;
      }

      &__display {
        position: relative;
        bottom: 4px;
        @include tablet-lg {
          bottom: 0;
        }
      }

      &__image {
        width: 80px;
        height: 80px;
        position: relative;
        top: 8px;
        margin-bottom: 15px;
        margin-right: 20px;
        background-size: cover;
        display: inline-block;
        border-radius: 50%;
        float: left;
      }

      &__name {
        text-align: left;
        @include text-sm($font-multiplier: 2, $color: #4A4A4A, $font-weight: 700);
        font-family: "Playfair", serif !important;
        position: relative;
        margin-bottom: 10px;
        text-transform: capitalize;
      }

      .user-header__share {
        //margin-top: 10px;
      }

      .button-container {
        float: left;
        margin-bottom: 20px;

        .button__share {
          margin-right: 4px;
        }
      }

      .blog__user-header__about {
        clear: both;
        text-align: left;

        p {
          margin-top: 20px;
        }
      }
    }
  }


.blog__data {
	display: flex;

	> div {
		display: flex;
		align-items: center;
		justify-content: center;
		flex: 0 1 33.3333%;
	}
}
