.button {
  background: $white;
  border: 1px solid #C6D5B8;
  border-radius: 2px;
  padding: 7px 16px 8px 16px;
  display: inline-block;
  @include text-sm($color: $article-body-text);
  @include transition(all 0.4s ease);
  &-blue {
    color: #0d88f1!important;
    border-radius: 100px;
    border: solid 1px #0d88f2!important;
    background-color: transparent!important;
  }
  &-sm {
    padding: 5px 8px 4px;
    max-width: none ;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    &.button__share {
      max-width: none;
			background-size: 10px;
	    background-position: 8px 5px;
      padding-left: 30px;
    }
  }
  &:hover, &:active {
    background-color: #D0EDF5;
    color: $body-text;
  }
  &__follow {
    &--reverse {
      color: $body-text;
      background-color: #D0EDF5;
      border: 1px solid #D0EDF5;
      &:hover, &:active {
        color: $white;
      }
    }
  }
  &__comments, &__share {
    padding-left: 35px;
    background-repeat: no-repeat;
    background-position: 13px 8px;
  }
  &__comments {
    background-image: url(/static/images/icons/comment-icon.svg);
  }
  &__share {
    @extend .button__follow;
    position: relative;
    background-image: url(/static/images/icons/share-icon.svg);
    .share-popup .share-popup__close {
      width: auto;
      margin: 0;
    }
  }
	&__connect {
		@extend .button__follow;
		position: relative;
		text-align: left;
		width: 140px;
		// &:hover {
		//
		// }
		a {
			display: inline-block;
			width: 20px;
			height: 20px;
			background-size: 12px;
			background-position: 50%;
			background-repeat: no-repeat;
			border-radius: 50%;
			margin-right: 0!important;
			position: absolute;
			top: 5px;
		}
		.button__twitter {
			background-image: url(/static/images/icons/twitter-white.svg);
			background-color: #1da0f2;
			right: 10px;
		}
		.button__linkedin {
			background-image: url(/static/images/icons/linkedin-white.svg);
			background-color: #0177b5;
			margin-left: 10px;
			margin-right: 4px!important;
			right: 34px;
		}
	}
  &__profile-follow {
    margin-bottom: 22px;
    border-radius: 100px;
    border: none;
    background-color: #576b74;
    color: white;
    padding: 8px 40px 10px;
    &:hover {
      color: #576b74;
      background-color: $white;
    }
  }
}

.button-container {
  a:first-child {
    margin-right: 15px;
  }
}

.profile__button-wrap {
  display: flex;
  > a:first-child {
    margin-right: 5px;
  }
	.button {
		border: none;
	}
}
