.card {
  height: 471px;
  display: flex;
  min-height: 507px;
  position: relative;
  background-color: $white;
  @media (max-width: 991px) {
    border-bottom: 2px solid $heading-text;
  }
  &__channel-wrap {
    margin-bottom: auto;
  }
  &__content_wrap {
    display: flex;
    align-items: center;
    width: 100%;
    height:100%;
    position: relative;
    @include transition(all 0.4s ease);
  }
  &:hover {
    .admin-actions {
      display: flex;
    }
  }
  &__big-image {
    display: none;
  }
  &__overlay {
    width: 100%;
    height: 100%;
  }
  &__content {
    text-align: left;
    padding: 0 30px 0 30px;
    width: 100%;
    margin-right: auto;
  }
  &__author {
    @include text-sm($letter-spacing: 0.012em);
    // Padding to make .card__author same height as read estimate
    padding-top: 17px;
  }
  &__network-icon {
    position: relative;
    font-size: 18px;
    color: #4a4a4a;
    top: 2px;
    margin-right: 3px;
  }
  &__channel {
    @include text-sm($font-weight: 700, $letter-spacing: 0.2px, $font-multiplier: 0.75, $color: $heading-text);
    margin-bottom: 18px;
    display: inline-block;
    padding-bottom: 12px;
    position: relative;
    text-transform: uppercase;
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 20px;
      height: 4px;
      border-radius: 100px;
      background-color: $heading-text;
    }
  }
  &__headline {
    max-width: 650px;
    margin-bottom: 18px;
    @include text-md($color: $heading-text, $line-height: 1.1, $letter-spacing: -0.014em, $font-multiplier: 2.12);
    padding-bottom: 2px;
    word-break: break-word;
    word-wrap: break-word;
  }
  &__text {
    max-width: 680px;
    margin-bottom: 30px;
    @include text-md($color: $body-text, $font-weight: 500);
    word-break: break-word;
    word-wrap: break-word;
    &-wrap {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
    }
  }
  &__read-more {
    display: none;
  }
  &__image {
    width: 80px;
    height: 80px;
    background-repeat: no-repeat;
    flex: 0 0 80px;
    margin: 10px 0 0 10px;
  }
  &__inset-wrap {
    @include desktop-sm {
      padding-right: 15px;
      padding-left: 15px;
    }
  }
  &__outset-wrap {
    &--special {
      background-color: white;
    }
    &--top {
      position: relative;
      @media (min-width: 992px) and (max-width: 1199px) {
        border-top: 2px solid $heading-text;
      }
      @include desktop-sm {
        z-index: 3;
        width: 100%;
        border-top: 2px solid $header-background;
        margin: 0 5px 0;
        padding-left: 10px;
        padding-right: 10px;
        .col-half,
        .col-third {
          @media (max-width: 1199px) {
            border-top: 1px solid $heading-text;
          }
        }
        &::before {
          content: '';
          display: block;
          width: 2px;
          height: 100px;
          -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
          background-image: linear-gradient(to top, rgba(0, 0, 0, 0.0), #000000);
          left: 0;
          position: absolute;
          top: 0;
        }
        &::after {
          content: '';
          display: block;
          width: 2px;
          height: 100px;
          -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
          background-image: linear-gradient(to top, rgba(0, 0, 0, 0.0), #000000);
          right: 0;
          position: absolute;
          top: 0;
        }
      }
    }
    &--bottom {
      position: relative;
      z-index: 2;
      @media (min-width: 992px) and (max-width: 1199px) {
        border-bottom: 2px solid $heading-text;
      }
      @include desktop-sm {
        width: 100%;
        border-bottom: 2px solid $header-background;
        margin: 0 5px 0;
        padding-left: 10px;
        padding-right: 10px;
        &::before {
          content: '';
          display: block;
          width: 2px;
          height: 100px;
          -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
          background-image: linear-gradient(to top, rgba(0, 0, 0, 0.0), #000000);
          left: 0;
          position: absolute;
          bottom: 0;
        }
        &::after {
          content: '';
          display: block;
          width: 2px;
          height: 100px;
          -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
          background-image: linear-gradient(to top, rgba(0, 0, 0, 0.0), #000000);
          right: 0;
          position: absolute;
          bottom: 0;
        }
      }
    }
  }
  &__play-button {
    margin-left: 10px;
  }
}

.card-container {
  > div:last-child {
    @media (max-width: 1199px) {
      border-bottom: none;
    }
  }
  .card__outset-wrap--top {
    > div:last-child {
      border-right: none;
    }
    > div:first-child {
      border-left: none;
    }
  }
}

.card--social {
  height: 100%;
  .card__text {
    display: block;
    max-width: 750px;
    margin: auto;
    @include text-sm($font-weight: 700, $color: $white, $font-multiplier: 1.4, $line-height: 1.2, $letter-spacing: -0.014em);
    margin-bottom: 22px;
  }
}

.admin-actions {
  flex-direction: column;
  width: 85px;
  position: absolute;
  right: 0px;
  top: 0px;
  z-index: 1;
  display: none;
  button:last-child {
    border-bottom: none;
  }
  @include text-sm($color: $white, $font-multiplier: 0.68);
  &__action {
    display: flex;
    justify-content: space-between;
    background-color: rgb(23, 39, 52);
    border: none;
    border-bottom: 1px solid rgb(132, 135, 147);
    padding: 5px 6px 5px 10px;
    align-items: center;
    @include transition(background-color 0.4s ease);
    &:hover {
      background-color: rgb(89, 93, 110);
    }
    &--move, &--edit {
      img {
        margin-right: 1px;
      }
    }
    &--pin {
      img {
        margin-right: 3px;
      }
    }
  }
}

.author-profile {
  display: flex;
  align-items: center;
  &__image {
    width: 52px;
    height: 52px;
    border-radius: 100%;
  }
  &__name {
    margin-left: 15px;
  }
  &__first-name {
    @include text-sm($font-multiplier: 0.88);
  }
  &__last-name {
    @include text-sm($font-multiplier: 0.75, $color: $body-text);
  }
}

.col-half,
.col-third {
  border: solid 1px #e2e2e2;
  margin: -1px 0 -1px 0;
  @include desktop-sm {
    margin-right: -1px;
  }
}

.col-half {
  margin-top: 0;
  border-top: none;
}

.col-full {
  position: relative;
  .card {
    height: 507px;
    &__headline {
      @include text-lg();
      line-height: 1.1;
      @include tablet {
        line-height: 1.22;
      }
    }
    &__big-image {
      display: block;
    }
    &__text {
      font-size: 18px;
      &-wrap .card__image {
        display: none;
      }
    }
    &__content {
      max-width: 800px;
      @include desktop-sm() {
        padding: 0 30px 0 68px;
      }
      @include desktop-lg {
        max-width: 1000px;
      }
    }
    &__big-image {
      width: 316px;
      height: 410px;
      background-repeat: no-repeat;
      margin-right: 52px;
      @include desktop-lg {
        width: 520px;
      }
    }
    &__no-image {
      .card__headline {
        margin-left: auto;
        margin-right: auto;
      }
      .card__text {
        margin-right: auto;
        margin-left: auto;
      }
      .card__content {
        margin: auto;
        text-align: center;
      }
      .card__channel {
        &::after {
          left: 50%;
          margin-left: -10px;
        }
      }
      .author-profile {
        text-align: center;
        flex-direction: column;
        &__name {
          margin-left: 0;
          margin-top: 5px;
        }
      }
    }
  }
  .card--social {

  }
}

.col-quarter {
  .card {
    &__read-time .card__paragraph-icon {
      background-image: url('/static/images/icons/paragraph.svg');
    }
  }
}

.col-third-container {
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 1;
  background-color: white;
  margin-left: -1px;
  flex-direction: column;
  .col-third {
    margin: 0;
    flex: 0 0;
    @include tablet-lg {
      margin-bottom: 6px;
    }
    .card {
      min-height: 0;
      height:157px;
      position: relative;
      @include tablet-lg {
        height: 147px;
      }
    }
    .card__content_wrap {
      padding: 23px;
    }
    //.card__no-image {
    //  .card__content_wrap {
    //    background-color: rgba(0, 0, 0, 0)!important;
    //    .card__channel {
    //      color: $body-text;
    //    }
    //  }
    //}
    .card__content {
      padding: 0;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin: 0;
      height: 100%;
      flex: 1 0 100%;
    }
    .card__author, .card__read-more {

    }
    .card__channel-wrap {
      display: none;
    }
    .author-profile{
      &__image {
        width: 32px;
        height: 32px;
      }
    }
    .card__headline {
      @include text-md($font-multiplier:1.26, $font-weight: 700, $line-height: 1.3, $color: $heading-text);
      margin-bottom: 0;
      max-width: 535px;
      max-height: 52px;
      overflow: hidden;
      margin-left: 0;
    }
    .card__read-more {
      display: none;
    }
    .card__text {
      display: none;
    }
  }
}

.col-half {
  @include desktop-sm {

  }
}

.col-two-thirds {

  > article {
    height: 100%;
  }
  article .card {
    height: 100%;
    // Here to overwrite base card styles
    .card {
      &__text {
        margin-bottom: 22px;
        @include tablet {
          max-height: none;
        }
      }
      &__content_wrap {
        flex-direction: column;
        @include tablet {
          flex-wrap: wrap;
          flex-direction: row;
        }
      }
      &__content {
        order: 1;
        @include tablet {
          flex: 0 1 43%;
          order: 0;
        }
      }
      &__image {
        @include tablet {
          flex: 0 1 57%;
        }
      }
    }
  }
}

.col-three-quarters {

}

.card-container {
  @extend .container;
  display: flex;
  flex-wrap: wrap;
}

.channel .col-full {
  .card {
    cursor: default;
    &__content {
      @include desktop-sm {
        padding: 50px 100px 20px;
      }
    }
    &__text {
      display: block;
    }
    &__content_wrap {
      background-color: transparent;
    }
    &__headline {
      color: $body-text;
    }
    &__button-wrap {
      .button__follow {
        padding: 6px 20px 8px 20px;
        max-width: none;
        margin-right: 15px;
        color: $body-text;
        background-color: white;
        border: 1px solid #C6D5B8;
      }
      .header_actions__share {
        color: $body-text;
        background-color: white;
        border: 1px solid #C6D5B8;
      }
    }
  }
}