.channel-card {
  display: flex;
  position: relative;
  background-size: cover;
  background-position: center center;
  cursor: pointer;
  height:290px;
  &:hover {
    .channel-card__content_wrap {
      background-color: rgba(0, 0, 0, 0);
    }
  }
  &__content_wrap {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    position: relative;
    @include transition(background-color 0.4s ease);
    height:100%;
  }
  &__overlay {
    width:100%;
  }
  &__channel-wrap {
    text-align: left;
  }
  &__image {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    flex: 1 0 53%;
    width: 100%;
  }
  &__content {
    flex-direction: column;
    display: flex;
    height: 100%;
    justify-content: space-between;
    text-align: left;
    width: 100%;
    padding: 15px 20px 20px;
  }
  &__channel {
    @extend .card__channel;
    line-height: 1;
  }
  &__headline {
    @include text-md($font-weight:600, $color: $body-text, $line-height: 1.2, $font-multiplier: 1.11);
    max-height: 46px;
    overflow: hidden;
  }
}