.contact {
  @extend .container;
  padding: 0 15px;
  text-align: center;
  &__container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding-bottom: 60px;
    padding-top: 20px;
    position: relative;
    background-color: white;
    @include desktop-sm {
      bottom: 112px;
      margin-bottom: -112px;
    }
  }
  &__form {
    text-align: center;
    max-width: 430px;
    margin: auto;
    width: 100%;
    #contactMessage {
      min-height: 100px;
      height:100px;
    }
    &--control {
      background: #FFFFFF;
      font-size: 20px;
      line-height: 30px;
      padding: 13px 17px 14px;
      display: block;
      margin: 10px 0;
      width: 100%;
      letter-spacing: 0px;
      border-radius: 4px;
      border: solid 1px #979797;
      @include placeholder($color: #a9b0bc);
      @include text-sm($font-multiplier:1.06,$font-weight: 600, $color: #6b7a80);
    }
  }
  &__submit {
    @include text-sm($font-multiplier:1.06,$font-weight: 600, $color: #fff);
    border-radius: 2px;
    background-color: #1d70b7;
    border: none;
    padding: 14px 25px 15px;
    margin-top: 5px;
    line-height: 0.68;
    cursor: pointer;
    @include transition(background-color 0.4s ease);
    &:hover {
      color: rgba(29, 112, 183, 0.8);
    }
  }
  &__content_wrap {
    align-self: flex-start;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: auto;
  }
  &__content {
    align-self: center;
    padding-top: 30px;
  }
  &__headline {
    margin-bottom:35px;
    color: #181818;
  }
  &__text {
    font-weight:600;
    font-size: 24px;
    color: #4A4A4A;
    letter-spacing: -0.33px;
    line-height: 34px;
    max-width: 770px;
    margin: 0 auto 68px;
  }
  &__form-title {
    margin-bottom: 18px;
    @include text-md($font-multiplier: 1.18, $line-height: 1.8, $letter-spacing: -0.3px, $color: #000);
  }
}