.search {
  &__container {
    position: relative;
    bottom: 112px;
    background-color: white;
  }
  &__form-big {
    border-bottom: 2px solid #181818;
    padding-bottom: 20px;
    text-align: center;
    position: relative;
    z-index: 2;
    form {
      margin: 0 auto;
      max-width: 600px;
      padding-left: 20px;
      padding-right: 20px;
      position: relative;
      border: 1px solid #181818;
    }
    .header__search-btn {
      display: flex;
    }
    svg {
      fill: #181818;
    }
    .header__search-text {
      background: #fff;
      width: 100%;
      @include text-md($font-multiplier: 1, $font-weight: 600, $color: #181818);
      padding: 8px 0 8px 0px;
      height: 40px;
    }
  }
  &__heading {
    @include text-md($color: #181818, $letter-spacing: -0.3px, $font-multiplier: 1.5);
    max-width: 1170px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 30px;
    padding-top: 30px;
    @include desktop-lg {
      max-width: 1580px;
    }
    span {
      font-style: italic;
    }
  }
  .col-third {
    border-bottom: 2px solid #181818;
  }
}
